.mat-toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #56d144;
}

.toolbar-button {
  border: 1px solid #56d144;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;

  &-icon {
    font-size: 26px;
  }
}

.about-us_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;

  &-description {
    align-self: center;
    padding: 15px;
  }

  &-info {
    align-self: center;
    padding: 15px;
  }
}
