<mat-toolbar>
  <button class="toolbar-button" (click)="requestBackToDashboard()">
    <mat-icon class="toolbar-button-icon" fontIcon="arrow_back"></mat-icon>
  </button>
  <span>Blog Feature</span>
</mat-toolbar>
<div class="about-us_container">
  <div class="about-us_container-description">
    <h2>This we are!</h2>
  </div>
  <div class="about-us_container-info">
    <p>
      InnovateSoft was founded in 2010 with a vision to revolutionize software
      development. We specialize in custom software, mobile apps, cloud
      solutions, and AI-driven systems. Our agile approach ensures flexibility
      and quick adaptation to client needs. With a team of industry experts, we
      prioritize innovation, quality, and customer satisfaction. At
      InnovateSoft, we believe in the power of technology to transform
      businesses and drive growth. Join us on our journey to create cutting-edge
      solutions that make a difference. Contact us today to see how we can help
      you innovate.
    </p>
  </div>
</div>
